version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2
    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip setuptools wheel
            pip install .[test]

      - run:
          name: 'Pylinting'
          command: |
            . venv/bin/activate
            pylint target_snowflake

      - run:
          name: 'Unit Tests'
          command: |
            . venv/bin/activate
            export LOGGING_CONF_FILE=$(pwd)/sample_logging.conf
            pytest tests/unit -vv --cov target_snowflake --cov-fail-under=51

      - run:
          name: 'Integration Tests'
          command: |
            . venv/bin/activate
            export LOGGING_CONF_FILE=$(pwd)/sample_logging.conf
            pytest tests/integration/ -vv --cov target_snowflake --cov-fail-under=85

workflows:
  version: 2
  build:
    jobs:
      - build
